@charset "UTF-8";

/*PALETAS DE CORES
------------------
VERDE; #49a09d

LILÃS; #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html {
    background-color: #5f2c82 ;
    height: 100vh;
    width: 100vw;

}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
   


    background-color: white;
    width: 250px;
    height: 510px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;

    transform: translate( -50% ,-50%);
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-andre-furtado-3859985.jpg);
    background-size: cover;
    height: 200px;
}
section#login > div#formulario {
    display: block;
    padding: 10px;


}
div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;


}
div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid  #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;

}

div.campo > label {
    display: none;
}

div.campo > span{
    color: white;
   /* background-color: black;*/
    font-size: 2em;

    width: 40px;
    padding: 5px;
}
div.campo > input {
    background-color:  #70e1dd;
    font-size: 1em;
    height: 100%;
    width: calc(100% -44px);
    border: 0px;
    border-radius: 8px;
    transform: translateY(-12px);
    
}

div.campo > input:focus-within {
    background-color: white;
}




form > input[type=submit] {
    display: block;

    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a094;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #2d6462;
}

    form > a.botao {
        display: block;
        text-align: center;
        font-size: 1em;
        width: 100%;
        height: 40px;
        background-color: white;
        border-radius: 7px;
        border: 1px solid #49a09d;
        text-decoration: none;
        color: black;
        padding-top: 5px;
        margin-top: 5px;
       
    }

    form > a.botao:hover {
        background-color: #6cd3cf;
    }


    form > a.botao > i {
        font-size: 0.8em;
        ;

    }

